<div class="footer" style="margin-top: 20px">
    <div class="footer-margin">
        <div class="display-inline-block-style footer-version style-float-left">
            Copyright © 2018 - 2019 Software AG, Darmstadt, Germany and/or Software AG USA Inc., Reston, VA, USA, and/or its subsidiaries and/or its affiliates and/or their licensors.
        </div>
        <div class="display-inline-block-style footer-logo style-float-right">
            <img src="../../../content/images/footer-logo.png" alt="Software AG Logo" title="Software AG"/>
        </div>
    </div>
</div>
