
<nav class="navbar navbar-dark navbar-expand-md jh-navbar" style="height: 49px; border-radius: 0">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()" style="font-size: 18px;font-weight: 300">
            <span class="logo-img"></span>
            <span jhiTranslate="global.title" class="navbar-title">Linguist</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" style="float:right; width: 100%" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav " style="float: left;padding: 0.5em">
            <li *jhiHasAnyAuthority="['ROLE_ADMIN']" class="nav-item show dropdown pointer" routerLink="user-management" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" href="javascript:void(0);" id="user-management">
                    <span>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>
                            User Management
                        </span>
                    </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PM']" class="nav-item show dropdown pointer" routerLink="project-management" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" href="javascript:void(0);" id="project-management">
                    <span>
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                        <span>
                            Project Management
                        </span>
                    </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PM', 'ROLE_TRANSLATOR', 'ROLE_DEV']" class="nav-item show dropdown pointer" routerLink="my-tasks" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" href="javascript:void(0);" id="my-tasks" >
                    <span>
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        <span>
                            My Tasks
                        </span>
                    </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PM', 'ROLE_TRANSLATOR', 'ROLE_DEV']" class="nav-item show dropdown pointer" routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" href="javascript:void(0);" id="dashboard">
                    <span>
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span>
                            Dashboard
                        </span>
                    </span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" style="float: right">
            <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_PM', 'ROLE_TRANSLATOR', 'ROLE_DEV']" class="nav-item show dropdown pointer" routerLink="notifications" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" href="javascript:void(0);" id="notifications">
                    <span>
                        <i class="fa fa-bell" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav" style="float: right;padding: 0.5em">
            <li ngbDropdown class="nav-item dropdown pointer" style="padding-right: 10px;padding-left: 10px" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" style="color: white; font-size: 18px;font-weight: 300" ngbDropdownToggle href="javascript:void(0);" id="account-menu" >
                  <span *ngIf="!getImageUrl()">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right ml-auto" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()" style="font-weight: 400;font-size: 14px;line-height: 1.2em;margin-left: 15px">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                        <span><li class="divider"></li></span>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()" style="font-weight: 400;font-size: 14px;line-height: 1.2em;margin-left: 15px">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                        <span><li class="divider"></li></span>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout" style="font-weight: 400;font-size: 14px;line-height: 1.2em;margin-left: 15px">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login" style="font-weight: 400;font-size: 14px;line-height: 1.2em;margin-left: 15px">
                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                        <span><li class="divider"></li></span>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()" style="font-weight: 400;font-size: 14px;line-height: 1.2em;margin-left: 15px">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
