<div class="welcome-worspace-container" style="background-color: white">
    <div class="welcome-container" style="width: 100%;text-align: center">
        <div class="welcome-text">
            <div *ngIf="isAuthenticated()" class="welcome-text-title">Welcome to <div class="welcome-text-gateway">Linguist</div></div>
            <div *ngIf="!isAuthenticated()" class="welcome-text-title">Login to <div class="welcome-text-gateway">Linguist</div></div>
            <div class="welcome-text-description">Powerful translation platform which automates the process of translation for your project</div>
        </div>
        <div class="topics-container">
            <div class="style-display-inline-block style-float-left" style="display: table-cell">
                <div class="single-topic-style">
                    <img src="../../content/images/rsz_icon_humen.png" alt="Tenant Management" class="topic-image">
                    <div class="topic-box topic-box1">
                        <div class="topic-box-title">User Onboarding</div>
                        <div class="topic-box-helptext">Quick onboarding of project managers, translators and developers</div>
                    </div>
                </div>
                <div class="empty-container-between-topics"></div>
            </div>

            <div class="style-display-inline-block style-float-left" style="display: table-cell">
                <div class="single-topic-style">
                    <img src="../../content/images/rsz_university_resnet_policies.png" alt="Policy Engine" class="topic-image">
                    <div class="topic-box topic-box2">
                        <div class="topic-box-title">Project Onboarding</div>
                        <div class="topic-box-helptext">Management of project along with repository configuration and activation
                        </div>
                    </div>
                </div>
                <div class="empty-container-between-topics"></div>
            </div>

            <div class="style-display-inline-block style-float-left" style="display: table-cell">
                <div class="single-topic-style">
                    <img src="../../content/images/rsz_graph_icon.png" alt="Events & Metrics" class="topic-image">
                    <div class="topic-box topic-box3">
                        <div class="topic-box-title">Dashboard</div>
                        <div class="topic-box-helptext">One stop shop to view the assigned keys for approval and to see the performance metrics
                        </div>
                    </div>
                </div>
                <div class="empty-container-between-topics"></div>
            </div>


        </div>
    </div>
    <div class="clear"></div>
</div>
